* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    font-family: Poppins, calibri;
    font-size: 62.5%;
  }
  a {
    color: black;
    font-weight: 600;
    text-decoration: none;
  }
  #navbar {
    background-color: #c4c4c4;
    padding: 0 1em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border-bottom: 1px solid; */
    z-index: 4;
  }
  .nav-link {
    font-size: 2.2rem;
    padding: 2rem;
  }
  .nav-link:hover {
    background-color: #4a68d6;
  }
  #welcome-section {
    /* background-color: white; */
    /* background: linear-gradient(62deg, #3a3d40 10%, #181719); */
    /* background: linear-gradient(62deg, #b0b2b4 10%, white); */
    background: linear-gradient(62deg, #c4c4c4 10%, white);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #welcome-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }
  #welcome-section h1 {
    font-size: calc(70vw/16);
    color: #1d1d1d;
  }
  #welcome-section i {
    font-size: calc(70vw/32);
    color: #3f3f3f;
  }
  #welcome-section img {
    /* filter: drop-shadow(0 0 5px #0a0a0a) drop-shadow(0 0 5px #181719) drop-shadow(0 0 5px #3a3d40) drop-shadow(0 0 5px #181719); */
    margin-bottom: -20px;
  }
  #projects {
    padding: 100px 20px;
    /* background-color: #45567d; */
    /* background: linear-gradient(62deg, #4a68d6 10%, #2E3767); */
    background: linear-gradient(62deg, #2E3767 30%, #4a68d6);
    text-align: center;
  }
  #projects h2 {
    text-align: center;
    /* display: inline; */
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 10px;
    border-bottom: 2px solid white;
    font-size: 3vw;
  }
  #projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    font-size: 20px;
    margin-top: 35px;
  }
  .project-tile {
    /* background-color: #303841; */
    background-color: #a1a1a1;
    /* padding: 20px; */
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
  }
  .project-tile h4 {
    margin-top: 20px;
  }
  .project-images {
    object-fit: cover;
    object-position: center left;
    height: 80%;
  }
  #contacts {
    height: 100vh;
    background-color: #303841;
  }
  #contacts * {
    color: white;
  }
  #contact-info {
    height: calc(100vh - 90px);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }
  #contacts footer {
    height: 90px;
    border-top: 3px solid #c4c4c4;
    padding: 20px;
    display: flex;
  }
  footer p {
    margin: auto 0;
    color: white;
    font-size: 16px;
  }
  #contact-info h2 {
    font-size: calc(70vw/16);
  }
  #contact-info i, #contact-info a  {
    font-size: 2vw;
  }
  /* #contact-info div:nth-of-type(1) i {
    width: max-content;
    margin: 0 auto;
  } */
  #contact-info div:nth-of-type(1) {
    text-align: center;
  }
  #contact-info div:nth-of-type(2) {
    display: flex;
    column-gap: 15px;
  }
  #contact-info div:nth-of-type(2) a {
    transition: transform 0.5s ease-in-out;
  }
  #contact-info div:nth-of-type(2) a:hover {
    transform: translateY(10px);
    color: #4a68d6;
  }
  /* #contact-info div:nth-of-type(2) i:hover {
    color: #4a68d6;
  } */
  @media only screen and (max-width: 1092px) {
    #projects-grid {
      display: grid;
    grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 731px) {
    #projects-grid {
    grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (max-width: 460px) {
    #navbar {
      justify-content: center;
    }
  }
  @media only screen and (max-width: 980px) {
    #welcome-section {
      flex-direction: column-reverse;
    }
    #welcome-section img {
      height: 70%;
      margin-bottom: -70px;
    }
    #welcome-section div {
      margin-bottom: -30px;
    }
    #welcome-section h1 {
      font-size: 55.68px;
    }
    #welcome-section i {
      font-size: 27.84px;
    }
    #projects h2 {
      font-size: 39px;
      width: 100%;
    }
    #contact-info h2 {
      font-size: 55.68px;
    }
    #contact-info i {
      font-size: 16px;
    } 
    #contact-info a  {
    font-size: 22px;
  }
  }
  